{% load static %}
<!DOCTYPE html>

<html ng-app="Checkers">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>Warcaby</title>

		<link rel="stylesheet" href="{% static "css/styles.css" %}" />
		<script src="{% static "node_modules/angular/angular.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/checkers_modules.js" %}" data-cover></script>

		<link rel="icon" href="{% static "media/icon.ico" %}" type="image/x-icon" />
		<link rel="shortcut icon" href="{% static "media/icon.ico" %}" type="image/x-icon" />

	</head>
    <body>
		<div id="entry" style="width: 95%; margin: 0px 2.5%" class="own-div vertical-center" ng-controller="entryController">
			<div style="text-align: center;" class="own-div">
				<input type="text" id="userNameText" style="text-align: center" class="usernameInput" placeholder="Nazwa gracza" maxlength="10">
			</div>
			<div style="width: 100%; display: table; text-align: center;" class="own-div">
				<div style="display: table-row;">
					<div style="display: table-cell; width: 40%;"></div>
					<div style="display: table-cell; width: 7%; text-align: center; vertical-align: middle;">
						Białe
					</div>
					<div style="display:table-cell;">
						<label class="switch">
							<input id="userColorSwitch" type="checkbox" ng-click="changeUserColor()">
							<div class="slider round">
							</div>
						</label>
					</div>
					<div style="display: table-cell; width: 7%; text-align: center; vertical-align: middle;">
						Czarne
					</div>
					<div style="display: table-cell; width: 40%;"></div>
				</div>

			</div>
			<div style="text-align: center;" class="own-div">
				<input type="submit" id="button_id" ng-click="loadGame()" value="GRAJ"></button><br>
			</div>
		</div>
	<br>
    </body>
</html>
