{% load static %}
<!DOCTYPE html>

<html ng-app="Checkers">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>Warcaby</title>

		<link rel="stylesheet" href="{% static "node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.css" %}" />
		<link rel="stylesheet" href="{% static "css/styles.css" %}" />

		<script src="{% static "node_modules/angular/angular.min.js" %}"></script>
		<script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
		<script src="{% static "node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.js" %}"></script>
		<script type="text/javascript" src="{% static "js/checkers_modules.js" %}" data-cover></script>

		<link rel="icon" href="{% static "media/icon.ico" %}" type="image/x-icon" />
		<link rel="shortcut icon" href="{% static "media/icon.ico" %}" type="image/x-icon" />

	</head>


    <body>
		<div ng-controller="gameController">
			<div class="header"><b>WARCABY</b></div>
		</div>
		<br>
		<div class="row own-div" style="width: 95%; margin: 0px 2.5%" ng-controller="gameController">
		<div class ="game" style ="width: 95%; margin: 0px 2.5%">
			<div class="turn_info" style="text-align: center" >Ruch <span id="turn" ng-bind="gameData.turnOwnerName"></span></div><br>
			<div class="column left" style ="height: 600px" >
				<span id="userNameView" ng-bind="gameData.userName"></span><br><br>
				Kolor: <span id="userColorView" ng-bind="gameData.userColorString"></span><br>
				Liczba pionkow: <span id="uAP" ng-bind="gameData.uAP"></span><br>
				Liczba damek: <span id="uAK" ng-bind="gameData.uAK"></span><br>
			</div>
			<div class="column middle">
				<div id="board" style="width: 70%; margin: 0 auto" ng-init="loadBoard()"></div>
			</div>
			<div class="column right" style ="height: 600px">
				Komputer<br><br>
				Kolor: <span id="compColorView" ng-bind="gameData.compColorString"></span><br>
				Liczba pionkow: <span id="cAP" ng-bind="gameData.cAP" ></span><br>
				Liczba damek: <span id="cAK" ng-bind="gameData.cAK" ></span><br>
			</div><br>
		</div><br>
		<div class ="endGame" ng-show= "gameData.isEnded" style ="width: 95%; margin: 0px 2.5%; text-align: center;">
			<span id="endGameText" ng-bind="gameData.endText"></span><br>
			<button type = "button" ng-click="playAgain()">Zagraj jeszcze raz!</button>
		</div>
	</div>
    </body>
</html>
