{% load static %}
<!DOCTYPE html>

<html ng-app="Checkers">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>Warcaby</title>

		<link rel="stylesheet" href="{% static "node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.css" %}" />
		<link rel="stylesheet" href="{% static "css/styles.css" %}" />

		<script src="{% static "node_modules/angular/angular.min.js" %}"></script>
		<script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
		<script src="{% static "node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.js" %}"></script>
		<script type="text/javascript" src="{% static "js/checkers_modules.js" %}" data-cover></script>

		<link rel="icon" href="{% static "media/icon.ico" %}" type="image/x-icon" />
		<link rel="shortcut icon" href="{% static "media/icon.ico" %}" type="image/x-icon" />

	</head>


    <body>
		<div ng-controller="gameController">
			<div class="header"><b>WARCABY</b></div>
			<button type="button" ng-click="printUserData()" id="button_id">Wyswietl dane uzytkownika</button><br>
			<button type="button" ng-click="loadBoard()" id="button_2">Zwroc FEN</button><br>
			<div id="loadBoard" >Obecny FEN:  <span id="currentFEN" ng-bind="currentFEN"></span></div>
		</div>
	<br>
	<div class="row own-div" style="width: 95%; margin: 0px 2.5%" ng-controller="gameController">
		<div class="column left" >
			Gracz info <br><br>
			<span id="userNameView"></span><br>
			<span id="userColorView"></span>
		</div>
		<div class="column middle">
			<div id="board" style="width: 70%; margin: 0 auto" ng-init="loadBoard()"></div>
		</div>
		<div class="column right">
			Komputer info
		</div>

	</div>
    </body>
</html>
