build_web/
client/chessboardjs-1.0.0/img/chesspieces/wikipedia/checkerspieces/
checkers/build/
client/node_modules/
*.gcno
*.gcda

.sconsign.dblite

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.os
